/ProjectWebApp/nbproject/private/
/ProjectWebApp/build/
/JKTShop/nbproject/private/
/JKTShop/build/
/ProjectJKTShop/nbproject/private/
/ProjectJKTShop/build/
/ProjectJKTShop/dist/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/NewJKTShop/nbproject/private/
/NewJKTShop/build/
/JavaApplication/nbproject/private/
/SitSpaceManagement/nbproject/private/
/SitSpaceManagement/build/